# Operadores lógicos, de comparación y de decisión

## Operadores lógicos

Los operadores lógicos nos proporcionan un resultado a partir de que se cumpla o no una cierta condición, producen un resultado booleano, y sus operandos son también valores lógicos o asimilables a ellos (los valores numéricos son asimilados a cierto o falso según su valor sea cero o distinto de cero).

### Negación

Para hacer la negación, utilizamos el operador `not`

In [ ]:
A = True
not A

False

In [ ]:
B = False
not B

True

### Conjunción

Para hacer la conjunción entre dos variables lógicas utilizamos el operador `and`

In [ ]:
A, B = True, True
A and B

True

In [ ]:
A and (not B)

False

### Disyunción

Para hacer la disyunción entre dos variables lógicas, utilizamos el operador `or`

In [ ]:
A, B = False, False
A or B

False

In [ ]:
(not A) or B

True

## Operadores de comparación

En `Python` podemos comparar datos y obtener un resultado booleano. Los operadores de comparación disponibles son

| Operador | Significado |
| :---: | :--- |
| $>$ | Estrictamente mayor |
| $\ge$ | Mayor o igual |
| $<$ | Estrictamente menor |
| $\le$ | Menor o igual |
| $==$ | Igual |
| $!=$ | Diferente |

In [ ]:
613 == 613.0

True

In [ ]:
"Pedro" == "pedro"

False

In [ ]:
6 != "6"

True

In [ ]:
0.613 < 0.320

False

**Observación.** Observa que cuando hemos comparado el número 613 en formato integer y en formato float, hemos obtenido que eran iguales, mientras que al haber comparado el número 6 en formato integer con el mismo número, pero en formato string, nos ha devuelto que son diferentes. Esto lo que nos viene a decir es que numéricamente, `Python` considera iguales los números enteros tanto si están en formato integer como en formato float. No obstante, nunca considerará iguales dos datos donde uno esté en formato numérico y el otro, en formato string.

### Múltiples comparaciones simultáneas

Podemos realizar múltiples comparaciones a la vez.

Supongamos que tenemos que tener 16 años o más, pero menos de 40 para poder concertar una entrevista y aspirar a ser miembros de una organización.

Queremos saber si nos concederán una entrevista si tenemos 17 años.

In [ ]:
edad = 17
(edad >= 16) and (edad < 40)

True

### Comparaciones de strings

No solamente podemos comparar datos numéricos, sino que también podemos comparar strings en relación al orden alfabético.

In [ ]:
"Mallorca" >= "Madrid"

True

In [ ]:
"Mallorca" < "Dubai"

False

In [ ]:
"Gijón" > "Albacete"

True

El resultado que obtenemos no se debe a que Mallorca sea mejor que Dubai, sino a que la primera letra de la primera palabra, M, no se encuentra antes en el abecedario que la primera letra de la segunda palabra, D.

**Observación.** En caso de que la primera letra de cada una de las palabras comparadas coincidan, se comparan los caracteres que se encuentran en la siguiente posición. En caso de empate, seguiríamos comparando los caracteres de la tercera posición y así sucesivamente.

### Más métodos de string

El método `.startswith()` nos devuelve verdadero si el string empieza con el caracter o la cadena de caracteres indicado.

In [ ]:
s = "Mallorca es una isla preciosa"
s.startswith("m")

False

In [ ]:
s.startswith("M")

True

El método `.endswith()` nos devuelve verdadero si el string acaba con el caracter o la cadena de caracteres indicado.

In [ ]:
s.endswith("sa")

True

In [ ]:
s.endswith("o")

False

El método `.isalnum()` nos devuelve verdadero si todos los caracteres del string son alfanuméricos.

In [ ]:
print(s)
s.isalnum()

Mallorca es una isla preciosa

False

In [ ]:
s1 = "Nacho613"
s1.isalnum()

True

**¡OJO!** No se consideran caracteres alfanuméricos los siguientes: espacio en blanco, !, %, ?, & y un largo etcétera.

El método `.isalpha()` nos devuelve verdadero si todos los caracteres del string son del alfabeto.

In [ ]:
s = "Ballena"
s.isalpha()

True

In [ ]:
s1 = "Una ballena"
s1.isalpha()

False

El método `.isdigit()` nos devuelve verdadero si todos los caracteres del string son dígitos.

In [ ]:
s = "613"
s.isdigit()

True

In [ ]:
s1 = "613a"
s1.isdigit()

False

El método `.isspace()` nos devuelve verdadero si todos los caracteres del string son espacios en blanco.

El método `.islower()` nos devuelve verdadero si todos los caracteres del string están en minúscula.

El método `.isupper()` nos devuelve verdadero si todos los caracteres del string están en mayúscula.

El método `.istitle()` nos devuelve verdadero si todas las palabras del string empiezan en mayúscula y el resto de las letras de la palabra están en minúscula.

## Operadores de decisión

### `if`

Cuando queremos comprobar si se cumple alguna condición, utilizamos el operador de decisión `if`. La sintaxis que debemos seguir es la siguiente:



```
if condicion:
    consecuencia
```

**¡Cuidado!** La sintaxis de los dos puntos después de la condición y la indentación (equivalente a una tabulación, un total de 4 espacios en blanco) que precede a la consecuencia es muy importante. De hecho, si se omite alguna de las dos cosas o bien nos pasamos de indentación, nos saltará error.

- Si quieres hacer una tabulación, debes pulsar el tabulador una vez. 
- Puedes hacer tabulaciones en bloque seleccionando las líneas de código que quieras indentar y, a continuación, pulsando el tabulador.
- Puedes deshacer tabulaciones pulsando Shift + Tab
- Puedes deshacer tabulaciones en bloque seleccionando las líneas de código que quieras desindentar y, a continuación, pulsando el Shift + Tab.

Siguiendo con nuestro ejemplo, si el usuario tiene más de 16 años, pero menos de 40, entonces puede acceder a la entrevista para formar parte de la organización.

In [ ]:
age = 23
if (age >= 16 and age <= 40):
    print("Eres aspirante a la organización")

Eres aspirante a la organización

### `else`

Ahora, nos podríamos preguntar qué le podríamos decir al usuario en el caso en que no satisfaga la condición. Ahí es donde entra en juego el operador de decisión `else`. Esta vez, la sintaxis a seguir es la siguiente:



```
if condicion:
    consecuencia_si_es_verdad
else:
    consecuencia_si_es_falsa
```

Siguiendo el ejemplo anterior, si el usuario tiene 16 años o más, pero menos de 40, entonces puede aspirar a formar parte de la organización. Si no, le diremos que no satisface una necesidad básica para ser miembro.

In [ ]:
age = 13
if (age >= 16 and age <= 40):
    print("Eres aspirante a la Organización")
else:
    print("No satisfaces una necesidad básica para pertenecer a la Organización")

No satisfaces una necesidad básica para pertenecer a la Organización

### `elif`

Ahora, en vez de comprobar si se cumple o no una condición, nos podríamos preguntar cómo haríamos para comprobar más de una condición. Podríamos hacerlo a lo bruto anidando operadores `if`, esto es, metiendo un `if` dentro de otro; o bien, podríamos hacerlo utilizando el operador de decisión `elif`.

El operador `elif` funciona del siguiente modo: se empieza con un operador `if`; si la condición de este no se cumple, pasamos a la siguiente condición posible precedida de un `elif`; si esta tampoco se cumple, pasamos al siguiente `elif`; seguimos así hasta que o bien se satisface alguna condición y realizamos su consecuencia, o hasta llegar al `else`, que implica que no se ha satisfecho ninguna de las condiciones anteriores.

La sintaxis del operador de decisión `elif` es la siguiente:



```
if condicion_1:
    consecuencia
elif condicion_2:
    consecuencia
elif condicion_3:
    consecuencia
.
.
.
else:
    consecuencia
```

Recuperemos el ejemplo de que tenemos que tener 16 años o más, pero menos de 40 para poder ser entrevistado e ingresar en una Organización. Vamos a mejorar lo que habíamos conseguido con el `if` y el `else`, añadiendo el operador `elif`.

Además, veremos que nos dice con la edad de 20 años.

In [ ]:
age = 20

if age > 40:
  print("No puedes pertenecer a la Organización, te pasas de la edad límite.")
elif age >= 16:
  print("Podrás optar a pertenecer la Organización. Aún te queda superar la entrevista con el CEO.")
else:
  print("¡Eres muy pequeño todavía para el mundo laboral!")

Podrás optar a pertenecer la Organización. Aún te queda superar la entrevista con el CEO.

### Operador ternario

Si queremos hacer un simple `if` / `else` en una sola línea de código, podemos utilizar el operador ternario, que tiene la siguiente estructura:



```
consecuencia_cierto if condicion else consecuencia_falso
```

Por ejemplo, hagamos el caso de mayor de edad. Si la edad es mayor o igual a 18, entonces es mayor de edad en España. Si no, entonces es menor de edad en España.

In [ ]:
age = 20
texto_mayor = "Eres mayor de edad en España"
texto_menor = "Eres menor de edad en España"

print(texto_mayor) if age >= 18 else print(texto_menor)

Eres mayor de edad en España

# Operadores de iteración

## Bucle `for`

La idea del bucle `for` es: para todos los elementos de la clave, seguimos realizando las líneas del bucle. Una vez nos quedemos sin elementos, salimos del bucle.

Su estructura es la siguiente:



```
for clave:
    instrucción 1
    instrucción 2
    .
    .
    .
    instrucción n
```

**Observación.** Aparecen tanto los dos puntos después de la clave como la indentación previa a las instrucciones que se encuentran dentro del bucle.

Un ejemplo del uso de un bucle `for` es el de recorrer todos los caracteres de un string:

In [ ]:
s = "Me gustan las matemáticas"

for c in s:
  print(c)

M
e

g
u
s
t
a
n

l
a
s

m
a
t
e
m
á
t
i
c
a
s

Lo que hace el anterior chunk de código es imprimir todos y cada uno de los caracteres, a los que identificamos por `c`, que se encuentran en el string `s`.

### Función `range()`

La función `range()` tiene 3 posibles argumentos: 
 
 - `start` 
 - `stop` 
 - `step`

Veremos el uso de la función `range()` con un ejemplo. Recuperemos el ejemplo en que queríamos imprimir los 10 primeros números naturales:

In [ ]:
for i in range(1, 11, 1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

**Observación.** Cosas a tener en cuenta cuando usamos la función `range()`:

- El elemento indicado en el argumento `stop` nunca se incluye.
- Si no indicamos ningún elemento en el argumento `start`, por defecto éste vale 0.
- El valor por defecto del argumento `step` es 1.


Por lo tanto, obtendríamos el mismo resultado que en el ejemplo anterior ejecutando las siguientes líneas de código:

¿Y si quisiéramos imprimir los 10 primeros números naturales invirtiendo el orden? Pues, con un bucle `for`, lo haríamos del siguiente modo:

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

### Comando `continue`

El comando `continue`, lo que hace es interrumpir la iteración en la que se encuentra y empezar la siguiente iteración.

---
#### Ejemplo 2

Supongamos que queremos que se nos impriman todos los números entre 0 y 100 que no son ni divisibles entre 2 ni entre 5.

**Ejercicio.** Pensad cómo podríais resolver este problema en el cual se exige que en algún momento utilicéis el comando `continue`.

In [ ]:
for i in range(101):
  if i % 2 == 0 or i % 5 == 0:
    continue
  print(i)

1
3
7
9
11
13
17
19
21
23
27
29
31
33
37
39
41
43
47
49
51
53
57
59
61
63
67
69
71
73
77
79
81
83
87
89
91
93
97
99

## El bucle `while`

La idea del bucle `while` es: mientras la condición sea cierta, seguimos realizando las líneas del interior del bucle. Una vez la condición deja de ser verdadera, salimos del bucle.

Su estructura es la siguiente



```
inicialización de la variable de la condición
while condición verdadera:
    intrucción 1
    instrucción 2
    .
    .
    .
    instrucción n
```

**Observación.** Vuelven a aparecer tanto los dos puntos después de la condición como la indentación previa a las instrucciones que se encuentran dentro del bucle.

**¡Cuidado!** Hay que tener en cuenta que alguna de las instrucciones que se encuentran dentro del bucle `while` tiene que modificar a la variable de la condición. De lo contrario, si la variable de la condición nunca es modificada, la condición nunca llegará a ser falsa y el bucle no acabaría nunca, con lo que pasaría a convertirse en lo que se denomina bucle infinito.

Una de las utilidades de un bucle `while` es evitar el copia y pega de algunas funciones. Por ejemplo, si queremos impirmir los primeros 10 números naturales, en vez de copiar 10 veces la función `print()`, una para cada número, lo podemos hacer todo con un bucle `while`:

In [ ]:
i = 1 # Inicializamos la variable
while i <= 10: # Queremos que i como mucho valga 10
  print(i) # Imprimimos los números
  i += 1 # Incrementamos una unidad en cada iteración

1
2
3
4
5
6
7
8
9
10

### Comando `break`

`break` es muy útil si dada una condición queremos que se salga inmediatamente de un bucle `while`. Veámoslo con un ejemplo:

---

#### Ejemplo 1

La sucesión de Fibonacci es una sucesión infinita que se caracteriza porque cada término es la suma de los dos anteriores. Algunos de sus términos son 1, 1, 2, 3, 5, 8, 13...

Supongamos que queremos que se nos impriman los 20 primeros términos de esta serie. Por tanto, necesitaremos por un lado los términos de la serie y, por otro, los índices que ocupan.

**Ejercicio.** Piensa en cómo podrías resolver este problema en el cual se exige que en algún momento utilices el comando `break`.

In [ ]:
fibo_ant = 1 # Término anterior
fibo = 1 # Término actual
idx = 3 # Como ya tenemos los dos primeros términos, empezamos con el índice 3

print("El término {} ocupa la posición {}".format(fibo_ant, 1))
print("El término {} ocupa la posición {}".format(fibo, 2))

while fibo <= 500000: # Establecemos una cota para que el bucle no sea infinito
  temp = fibo  # Guardamos temporalmente el fibonacci actual 
  fibo = fibo + fibo_ant  # Calculamos el nuevo término de la sucesión
  fibo_ant = temp # Modicamos el valor del término anterior
  
  print("El término {} ocupa la posición {}".format(fibo, idx))
  
  if idx == 20: # Si llegamos al vigésimo índice, 
    break       # salimos del bucle
  
  idx += 1 # Incrementamos el valor del índice

El término 1 ocupa la posición 1
El término 1 ocupa la posición 2
El término 2 ocupa la posición 3
El término 3 ocupa la posición 4
El término 5 ocupa la posición 5
El término 8 ocupa la posición 6
El término 13 ocupa la posición 7
El término 21 ocupa la posición 8
El término 34 ocupa la posición 9
El término 55 ocupa la posición 10
El término 89 ocupa la posición 11
El término 144 ocupa la posición 12
El término 233 ocupa la posición 13
El término 377 ocupa la posición 14
El término 610 ocupa la posición 15
El término 987 ocupa la posición 16
El término 1597 ocupa la posición 17
El término 2584 ocupa la posición 18
El término 4181 ocupa la posición 19
El término 6765 ocupa la posición 20

**Ejercicio.** El ejemplo anterior se podría haber hecho perfectamente sin necesidad de utilizar la función `break`.

---

### Combinación `while ... else`

Podemos combinar un bucle `while` con el operador `else` para ejecutar un bloque de código una vez la condición del `while` haya dejado de ser verdadera.

In [ ]:
i = 10
print("Preparados para despegue. Empieza la cuenta atrás.")
while i >= 0:
  print(i)
  i -= 1
else:
  print("La cuenta atrás ha finalizado.")

Preparados para despegue. Empieza la cuenta atrás.
10
9
8
7
6
5
4
3
2
1
0
La cuenta atrás ha finalizado.

## Bucles anidados

Se trata de bucles dentro de bucles

---

#### Ejemplo 3

Vamos a calcular las tablas de multiplicar de los números del 1 al 10 anidando dos bucles `for`:

In [ ]:
for i in range(1, 11):
  print("\nTabla de multiplicar del {}".format(i))
  for j in range(1, 21):
    print("{} x {} = {}".format(i, j, i * j))

Tabla de multiplicar del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14
1 x 15 = 15
1 x 16 = 16
1 x 17 = 17
1 x 18 = 18
1 x 19 = 19
1 x 20 = 20

Tabla de multiplicar del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40

Tabla de multiplicar del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60

Tabla de multiplicar del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80

Tabla de multiplicar del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100

Tabla de multiplicar del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
6 x 20 = 120

Tabla de multiplicar del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140

Tabla de multiplicar del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160

Tabla de multiplicar del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180

Tabla de multiplicar del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
10 x 20 = 200

## Bucles con listas

Si quisiéramos imprimir por pantalla todos los elementos de una lista, lo podríamos hacer mediante los índices

In [ ]:
names = ["Mario", "Nacho", "Ana", "Claudia"]
for i in range(len(names)):
  print(names[i])

Mario
Nacho
Ana
Claudia

## Bucles y tuplas

Podemos iterar una tupla utilizando un bucle `for`

In [ ]:
frutas = "Cereza", "Kiwi", "Pera", "Naranja", "Melocotón", "Sandía", "Melón"

for fruta in frutas:
  print(fruta)

Cereza
Kiwi
Pera
Naranja
Melocotón
Sandía
Melón

También podemos usar la técnica de unpacking en los bucles

In [ ]:
t = ("cereza", "roja"), ("kiwi", "amarillo"), ("pera", "verde"), ("naranja", "naranja")

for fruta, color in t:
  if fruta == "kiwi":
    print("El color del", fruta, "es", color)
  else:
    print("La {} es {}".format(fruta, color))

La cereza es roja
El color del kiwi es amarillo
La pera es verde
La naranja es naranja

## Bucles y conjuntos

Podemos acceder a todos los elementos de un conjunto mediante un bucle `for`

In [ ]:
set1 = {"manzana", "pera", "melón"}
for item in set1:
  print(item)

manzana
melón
pera

## Bucles y diccionarios

Para recorrer todo el diccionario, podemos hacer uso de un bucle `for`, pues el diccionario es una estructura iterable:

In [ ]:
dicc = {"username": "iafp",
        "name": "Ignacio",
        "age": 28,
        "city": "Gijón"}

for key in dicc:
  print(key, ":", dicc[key])

username : iafp
name : Ignacio
age : 28
city : Gijón

Otra forma de recorrer el diccionario sería obteniendo una lista de tuplas de la forma `(clave, valor)` para cada elemento de un diccionario, que construimos con el método `.items()`. Al ser una lista, sabemos que es iterable y podemos mostrar todas sus entradas haciendo uso de un bucle `for`.

In [ ]:
dicc.items()

dict_items([('username', 'iafp'), ('name', 'Ignacio'), ('age', 28), ('city', 'Gijón')])

In [ ]:
for item in dicc.items():
  print(item)

('username', 'iafp')
('name', 'Ignacio')
('age', 28)
('city', 'Gijón')

Para tener clave y valor por separado, podemos hacerlo del siguiente modo:

In [ ]:
for key, value in dicc.items():
  print(key, ":", value)

username : iafp
name : Ignacio
age : 28
city : Gijón